:root {
  /* Primary colors */
  --primary-white: #ffffff;
  --primary-black: #121212;
  --primary-light-gray: #dedede;
  --primary-dark-gray: #575757;

  /* Secondary colors */
  --secondary-white: #fcfcfc;
  --secondary-black: #1a1818;
  --secondary-gray: #9c9c9c;

  /* Accent colors */
  --accent-red: #9b4b4b;
  --accent-gold: #ab8956;
}
